modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0", "javascript_log_in_with_replit:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev"

[[workflows.workflow]]
name = "dev"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 8080

[[ports]]
localPort = 5002
externalPort = 4200

[[ports]]
localPort = 32991
externalPort = 3003

[[ports]]
localPort = 33847
externalPort = 6000

[[ports]]
localPort = 34601
externalPort = 3002

[[ports]]
localPort = 36059
externalPort = 3000

[[ports]]
localPort = 37053
externalPort = 5000

[[ports]]
localPort = 38089
externalPort = 8008

[[ports]]
localPort = 38641
externalPort = 5173

[[ports]]
localPort = 40367
externalPort = 8081

[[ports]]
localPort = 40911
externalPort = 3001

[[ports]]
localPort = 42079
externalPort = 6800

[[ports]]
localPort = 45091
externalPort = 8000

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://efzdvamelmwjubktjuqv.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVmemR2YW1lbG13anVia3RqdXF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI3NDAxMTgsImV4cCI6MjA3ODMxNjExOH0.sOS2qp0h7Dm4gnXVNsHV2OivlB6gwNyTMSKoqiTHQW4"
UPNSHARE_API_TOKEN = "a152a183695062c518a63cb5"
